/*
---------Fonts Styles 
 */
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
</style>
body{
    font-family: 'Poppins', sans-serif;
   
}
/* 
-----------First section
 */
 main{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     background-color: #9F9F9F;
}
.container{
    width: 870px;
    height: 689px;
    margin: 15px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.first-Tittle{
    font-size: 24px;
    color: blue;
    font-weight: 700;
    margin-left: 5px;
}
.profiles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.images{
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 8px;
}
.players-name{
    font-size: 18px;
    margin-left: 15px;
}
/* 
-----------Blogs Section
*/
.top-blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 25px;
}
.blog-title{
    font-size: 24;
    color: blue;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
}
.blog-picture{
    width: 177px;
    height: 117px;
}
.blog-artical{
    font-size: 20px;
    margin-left: 15px;
    font-weight: 700;
}
.blogs{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
span{
    color: grey;
    font-size: 18px;
}
/*
--------- Course section
 */
.course-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;
}
.course-banner{
    width: 224px;
    height: 103px;
}
article{
    font-size: 20px;
    font-weight: 700;
}
.instactor{
    color: tomato;
    font-size: 14px;
    font-weight: 400;
}
.course-details{
    display: flex;
    flex-direction: row; 
}
.rating{
    display: flex;
    flex-direction: row;
    margin-right: 35px;
}
.clock{
    background-color: tomato;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

/* 
--------- Media query
 */
 @media only screen and (max-width:688px) {
   .container{
       width: 100%;
       height: 100%;
   }
   .profiles, .top-blogs, .course-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs{
        display: flex;
        flex-direction: column;
    }
 }
 @media only screen and (min-width: 688px) and (max-width: 992px) {
     .container{
         width: 100%;
         height: 100%;
     }
     
 }